
h2{
    color:purple;
}
h3{
    color:burlywood
}
ol {
    list-style-type: none;
    color:brown
}
ul {
    color:blueviolet
}
/* .Preparationtime{
    background-color: pink
    width: 20%;
    height: 1px;
    padding: 20px;
    margin: 20px;
    border: 10px;
    border-style:rounded;
} */

.preparation{
    background-color: pink;
    width: 20%;
    height: 1px;
    padding: 20px;
    margin: 20px;
    border: 10px;
    border-radius: 30px;
}